/*VARIABLES*/
$font-text: 'Signika', sans-serif;
$font-header: 'Inconsolata', sans-serif;
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-four: #ffffff;
$color-five: #2c2c54;
$transition: all 1s;

/*GLOBAL*/
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: brown;
}
/*NAVIGATION*/
.container {
    font-size: xx-large;
    background: chocolate;
}
.navigation li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
}
.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}